/* Scoped components require higher specificity to customize */
ion-searchbar.dark {
    --border-radius: 20px;
  }
  .menu-content {
    transform: translate3d(0, 0, 0);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: initial;
    contain: layout size style;
    overflow: hidden;
    z-index: 0;
}