<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <app-menu></app-menu>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
    <ion-card class="text-center card">
      <div class="header">
        <ion-avatar>
          <img
            class="fotoW"
            src="../../assets/images/istockphoto-1153469287-612x612.jpg"
          />
        </ion-avatar>
        <ion-card-header>
          <ion-card-title class="title-color"
            >SANTIAGO GAVIRIA ZAPATA</ion-card-title
          >
          <ion-card-subtitle class="texto-card colorW"
            >Aprendiz</ion-card-subtitle
          >
        </ion-card-header>
        <div>
          <svg
            class="waves"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28"
            preserveAspectRatio="none"
            shape-rendering="auto"
          >
            <defs>
              <path
                id="gentle-wave"
                d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
              />
            </defs>
            <g class="parallax">
              <use
                xlink:href="#gentle-wave"
                x="48"
                y="0"
                fill="rgba(255,255,255,0.7"
              />
              <use
                xlink:href="#gentle-wave"
                x="48"
                y="3"
                fill="rgba(255,255,255,0.5)"
              />
              <use
                xlink:href="#gentle-wave"
                x="48"
                y="5"
                fill="rgba(255,255,255,0.3)"
              />
              <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
          </svg>
        </div>
      </div>
      <ion-card-content class="texto-card">
        CC: 1.152.225.467
        <br />
        RH A+
      </ion-card-content>
      <canvas id="codigoBarrasCanvas"></canvas>
      <ion-img
        class="imagenW"
        src="../../assets/images/nb-americanino.png"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img>
    </ion-card>
  </ion-content>
</div>
