<ion-content  [fullscreen]="true">
  <div id="container">
    <ion-img
      src="../../assets/images/nb-americanino.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>
    <div class="contenido">
      <ion-input
        type="email"
        label="Email"
        label-placement="floating"
        fill="outline"
        errorText="Ingrese un correo valido"
        ngModel
        email
        placeholder="Ingrese su correo"
      ></ion-input>
      <br />
      <ion-input
        type="password"
        label="Contraseña"
        label-placement="floating"
        fill="outline"
        placeholder="******"
      ></ion-input>
      <br />
      <ion-button color="dark"  size="large" expand="block" routerLink="/welcome"> INICIAR SESIÓN </ion-button>
    </div>
  </div>
</ion-content>
